@import "./tag";
@import "./iconfont";

// 左浮动
.fl {
  float: left;
}

// 右浮动
.fr {
  float: right;
}

// 清除浮动
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

// 文本对齐
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.vertical-middle{
  vertical-align: middle;
}

// 状态显示
.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.hide {
  display: none;
}

.o-hide {
  overflow: hidden;
}

// 字体大小
.f-s-small{
  font-size: $font-size-small;
}

.f-s-base{
  font-size: $font-size-base;
}

.f-s-large{
  font-size: $font-size-large;
}

.c-pointer{
  cursor: pointer;
}

.word-break{
  word-break: break-word;
}

.color-red{
  color: $color-red;
}

.wrap{
  width: 1200px;
  margin: 0 auto;
}

.btn{
  padding: 10px 15px;
  border: 1px solid $color-highlight-text;
  border-radius: $border-radius;
  color: $color-highlight-text;
  cursor: pointer;

  &.active{
    background: $color-highlight-text;
    color: $color-white;
  }

  .iconfont{
    vertical-align: middle;
  }
}

body {
  overflow-x: hidden;
  background: $color-main-background;
  font: $font-size-base "PingFangSC-Light",Microsoft Yahei;
  color: $color-main-text;
}

// 翻页
.el-pagination{
  margin: 30px 0;
  text-align: center;

  li{
    border: 0;

    &:last-child{
      border: 0;
    }

    &.active{
      background: none;
      color: $color-highlight-text;
    }
  }

  .btn-next,
  .btn-prev{
    border: 0;
  }
}
// .button--green {
//   display: inline-block;
//   border-radius: 4px;
//   border: 1px solid #3b8070;
//   color: #3b8070;
//   text-decoration: none;
//   padding: 10px 30px;
// }
//
// .button--green:hover {
//   color: #fff;
//   background-color: #3b8070;
// }
//
// .button--grey {
//   display: inline-block;
//   border-radius: 4px;
//   border: 1px solid #35495e;
//   color: #35495e;
//   text-decoration: none;
//   padding: 10px 30px;
//   margin-left: 15px;
// }
//
// .button--grey:hover {
//   color: #fff;
//   background-color: #35495e;
// }
