// 字体图标
@font-face {
  font-family: 'iconfont';  /* project id 552040 */
  src: url('//at.alicdn.com/t/font_552040_a8lnqr6y5op.eot');
  src: url('//at.alicdn.com/t/font_552040_a8lnqr6y5op.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_552040_a8lnqr6y5op.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_552040_a8lnqr6y5op.woff') format('woff'),
  url('//at.alicdn.com/t/font_552040_a8lnqr6y5op.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_552040_a8lnqr6y5op.svg#iconfont') format('svg');
}

.iconfont{
  vertical-align: middle;
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

$iconMap         : (
  "home1"        : "\e649",
  "home2"        : "\e69e",
  "about"        : "\e63c",
  "about-f"      : "\e61f",
  "team"         : "\e645",
  "message"      : "\e619",
  "message-f"    : "\e667",
  "link"         : "\e6af",
  "link2"        : "\e622",
  "time"         : "\e6c1",
  "time1"        : "\e62a",
  "good"         : "\e69c",
  "bad"          : "\e609",
  "hot"          : "\e6a4",
  "hot1"         : "\e6a0",
  "tag"          : "\e636",
  "tag1"         : "\e611",
  "back-top"     : "\e6e7",
  "menu"         : "\e605",
  "search"       : "\e607",
  "arrow-top"    : "\e65d",
  "arrow-right"  : "\e65f",
  "arrow-bottom" : "\e65e",
  "arrow-left"   : "\e660",
  "arrow-right-f": "\e757",
  "arrow-right-d": "\e62b",
  "close"        : "\e601",
  "close-f"      : "\e626",
  "success-f"    : "\e610",
  "info-f"       : "\e606",
  "tips-f"       : "\e628",
  "notice1"      : "\e64b",
  "notice2"      : "\e6df",
  "count"        : "\e64a",
  "picture"      : "\e64c",
  "upload-img1"  : "\e69d",
  "upload-img2"  : "\e621",
  "expression"   : "\e600",
  "code"         : "\e7ae",
  "note1"        : "\e727",
  "note2"        : "\e617",
  "case"         : "\e678",
  "life1"        : "\e65a",
  "software"     : "\e612",
  "download1"    : "\e71e",
  "download2"    : "\e637",
  "loading"      : "\e6da",
  "star"         : "\e664",
  "html5"        : "\e6f0",
  "html5-f"      : "\e602",
  "css3"         : "\e7c9",
  "css3-f"       : "\e7c8",
  "vue"          : "\e690",
  "react"        : "\e64d",
  "angular-f"    : "\e615",
  "bootstrap-f"  : "\e608",
  "javascript-f" : "\e635",
  "wordpress"    : "\e65b",
  "aliyun"       : "\e625",
  "twitter-f"    : "\e603",
  "apple-f"      : "\e76a",
  "android-f"    : "\e623",
  "qq-f"         : "\e624",
  "wechat-f"     : "\e63d",
  "sina"         : "\e620",
  "github"       : "\e7ab",
  "github-f"     : "\e691",
  "eye"          : "\e62f",
  "reward"       : "\e604"
);

@each $key, $value in $iconMap {
  @if $key == "loading" {
    .icon-#{$key}{
      display: inline-block;
      animation: rotating 2s linear infinite;
      &:before{
        content: "#{$value}";
      }
    }
  }
  @else {
    .icon-#{$key}:before{
      content: "#{$value}";
    }
  }
}

@keyframes rotating {
  to {
    transform: rotateZ(360deg);
  }
}
