// 侧边栏
.sidebar-list {
  margin-top: $container-margin;
  padding: 10px;
  border-radius: $border-radius;
  background: var(--color-sub-background);

  &:first-of-type {
    margin-top: 0;
  }

  .header {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--color-border);

    p {
      position: relative;
      display: inline-block;

      .iconfont {
        font-size: $font-size-large;
      }

      &:after {
        content: "";
        position: absolute;
        bottom: -6px;
        left: 0;
        width: 100%;
        height: 2px;
        background: $color-theme;
      }
    }
  }

  // 评论列表
  &.comment {
    .list {
      display: flex;
      padding: 8px 0;
      border-bottom: 1px dashed var(--color-border);

      &:last-of-type {
        border: 0;
      }

      &:hover {
        .thumbnail {
          transform: rotate(666turn);
          transition-delay: 1s;
          transition-property: all;
          transition-duration: 59s;
          transition-timing-function: cubic-bezier(.34, 0, .84, 1);
        }
      }
    }

    .right {
      width: 200px;
    }

    .thumbnail {
      margin-right: 10px;
      border-radius: 50%;
    }

    .thumbnail-text {
      width: 50px;
      height: 50px;
      margin-right: 10px;
      border-radius: $border-radius;
      font-size: 28px;
      text-align: center;
      line-height: 50px;
      text-transform: uppercase;
      color: #fff;
    }

    .author {
      height: 20px;
      font-weight: 600;
    }

    .comment-text {
      max-height: 34px;
      margin: 3px 0;
      font-size: $font-size-small;
      @include ellipsisMultiline(2, $font-size-small + 8px, $font-size-small);
    }

    .title {
      @include ellipsisMultiline(2);
      color: $color-theme;
    }
  }

  // 站点统计
  &.count {
    .content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      font-size: 12px;
    }

    .list {
      margin-top: 10px;

      &:nth-of-type(odd) {
        width: 40%;
      }

      &:nth-of-type(even) {
        width: 58%;
      }
    }
  }

  // 标签云
  &.tag-cloud {
    .header {
      display: flex;
      justify-content: space-between;
    }

    .content {
      display: flex;
      flex-wrap: wrap;
    }

    .list {
      margin: 10px 5px 0 0;
      padding: 3px 6px;
      border-radius: $border-radius;

      a {
        color: $color-white;
      }

      &.color-1 {
        background: #f3a683;
      }

      &.color-2 {
        background: #778beb;
      }

      &.color-3 {
        background: #e77f67;
      }

      &.color-4 {
        background: #f5cd79;
      }

      &.color-5 {
        background: #0fb9b1;
      }

      &.color-6 {
        background: #f8a5c2;
      }

      &.color-7 {
        background: #596275;
      }

      &.color-8 {
        background: #20bf6b;
      }
    }
  }
}
