// 设置标签默认样式

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: $font-size-base;
  font-weight: lighter;
}

button,
input,
select,
textarea {
  outline: 0;
  border: 0;
  background: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: top;
  border: 0;
}

a {
  text-decoration: none;
  transition: 0.5s;
  color: $color-main-text;

  &:hover {
    color: $color-theme;
  }
}

table {
  overflow-x: auto;
  margin-top: 15px;
  border: 0;
  border-color: #ddd;
  border-spacing: 0;
}

td,
th {
  padding: 3px 10px;
  border: 1px solid #dee2e6;
}

tr {
  &:not(:last-child) {
    td {
      border-bottom: 0;
    }
  }

  td,
  th {
    &:first-child {
      border-right: 0;
    }
  }
}
