// 主题颜色
$color-theme: #409eff;

// 主题次要色
$color-theme-secondary: #ecf5ff;

// 主文字颜色
$color-main-text: #666;

// 文字辅助颜色
$color-sub-text: #999;

$color-red: #f5222d;

// 主背景颜色
$color-main-background: #f8f8f9;
$color-sub-background: #fff;

// 主边框颜色
$color-border: #e9eaed;

// 修饰金色
$color-golden: #f2be45;

$color-white: #fff;

$color-info: #1890ff;
$color-success: #52c41a;
$color-warning: #faad14;
$color-error: #f5222d;

// 遮罩层
$color-mask: rgba(0, 0, 0, .5);

$z-index: 999;

// 文字大小
$font-size-small: 12px;
$font-size-base: 14px;
$font-size-large: 16px;

// 行高
$line-height: 1.5;

// 圆角
$border-radius: 4px;

// 容器之间的外间距
$container-margin: 20px;

// 容器的内边距
$container-padding: 15px;

$box-shadow: 0 0 10px rgba(0,0,0,.2);

// 透明兼容写法
@mixin opacity($number: 0.5) {
  opacity: $number;
  filter: alpha(opacity=#{$number * 100});
}

// 修改input placeholder颜色
@mixin placeholderColor($color: #fff) {
  &::-webkit-input-placeholder {
    color: $color;
  }

  &::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: $color;
  }

  &:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: $color;
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $color;
  }
}

%navJustify {
  text-align: justify;

  &:after {
    content: "";
    display: inline-block;
    width: 100%;
  }
}

// 一行文字超出显示省略号
%ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: keep-all;
}

// 多行文字超出显示省略号
@mixin ellipsisMultiline($number: 1, $line-height: $line-height, $font-size: $font-size-base) {
  display: -webkit-box;
  max-height: $font-size * $line-height * $number;
  overflow: hidden;
  -webkit-box-orient: vertical;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-line-clamp: $number;
}
